@charset "utf-8";
/*公用class*/
.comWidth{width: 1000px;margin-left: auto;margin-right: auto;}
.leftArea{float: left;}
.rightArea{float: right;}
.hide{display: none;}
.show{display: block;}
li{
	list-style: none;
}

/*topBar*/
.topBar{height: 31px;background: #f7f7f7;line-height: 31px;}
.collection{background: url(../image/icon/collection.png) left center no-repeat;padding-left: 19px;font-weight: bold;}
.topBar a:hover{color: red;}

/*logoBar*/
.logoBar{background: rgb(29,122,217);height: 85px;}
.logo{padding-left: 41px;padding-top: 13px;}

/*搜索框*/
.searchBox{width: 430px;padding-top: 25px;margin-left: 185px;}
/*.search_text{background:#fff;width: 350px;height: 14px;line-height:14px;border-radius: 5px 0 0 5px;padding: 11px 5px 10px;}*/
.search_text{background:#fff;width: 350px;height: 35px;line-height:35px\9;/*css hack \9代表所有的IE浏览器*/border-radius: 5px 0 0 5px;padding:0 5px;}
.search_btn{width:70px;height: 35px;font-size: 14px;font-family: "微软雅黑";background: #ff8c00;border-radius: 0 5px 5px 0;color: #fff;}

/*购物车*/
.shopCar{width: 145px;height: 35px;background: #ff8c00;margin-top: 25px;font:14px/35px "microsoft yahei","微软雅黑";color: #fff;margin-right: 59px;border-radius: 5px;display: inline;}
.shopText{/*font-size: 14px;font-family: "微软雅黑";line-height: 35px;*/overflow:hidden;height: 100%;width: 87px;border-right: 1px solid #e27a00;background:url(../image/icon/shopCar.png) 10px center no-repeat ;text-indent: 40px;}
.shopNum{width: 27px;height: 35px;border-left: 1px solid #ff9c01;background: url(../image/icon/sj.png) 33px center no-repeat;text-align: right;padding-right: 29px;}

/*navBox导航*/
.navBox{height: 35px; background: #1369c0;color: #fff;}
.shopClass{width:190px ;position: relative;}
.shopClass h3{line-height: 35px;text-align: center;}
.shopClass i{background: url(../image/icon/sj2.png) left center no-repeat;width: 11px;height: 7px;overflow: hidden;display: inline-block;margin-left: 11px;}
.nav,.shopClass h3{font-family: "微软雅黑";}
.nav{line-height: 35px;}
.nav li{float: left;}
.nav a{height: 35px;display: block;padding: 0 35px;color: #fff;}
.nav .active{background: #4593FD;}

/*商品弹出列表*/
.shopClass_show{background: #4593fd;position:absolute ;left: 0;top: 35px;width: 100%;padding-bottom: 1px;}
.shopClass_item{padding:13px 10px; border-bottom: 1px solid #3487f2;border-top: 1px solid #5aa1fe;line-height: 16px;}
.shopClass_item dt{height: 21px; background: url(../image/icon/sj3.png) right center no-repeat;line-height: 1;overflow: hidden;}
.shopClass_item b{/*font-family: "微软雅黑";font-size: 14;font-weight: bold;*/font:14px/1 "微软雅黑";}
.shopClass_item a{color: #fff;}
.shopClass_item a:hover{text-decoration: underline;}
.shopClass_item .aLink{width: 48px;height: 20px;background: rgb(16,106,192);border-radius: 5px;display: inline-block;text-align: center;line-height: 20px;text-decoration: underline;}

/*shopClass_item active状态*/
.shopClass_active{background-color: #fff;border-left: 1px solid #4593fd;}
.shopClass_active a{color: #000;}
.shopClass_active .aLink{color: #fff;text-decoration: none;}
.shopClass_active dt{background: none;}

/*弹出的菜单*/
.shopClass_list{width: 568px;border:1px solid #ccc;position: absolute;left: 190px;top: 35px;}
.shopClass_cont{padding:0 20px ;}
.shopList_item{padding: 10px 0px;border-bottom: 1px solid #ddd;}
.shopList_item dt{color: #4b87d9; font-weight: bold;height: 24px;line-height: 24px;}
.shopList_item dd{padding-left: 68px;margin-top: -24px;line-height: 24px}
.shopList_item dd a{padding-left: 12px;}

.shopList_links{margin: 15px 0;}
.shopList_links a{color: #fff;background: #2785e6; height: 26px;line-height:26px;font-size: 12px;display: inline-block;padding: 0 14px 0 8px;margin-right: 10px;}
.shopList_links span{width: 11px;height: 12px;background: url(../image/icon/sj3.png) left center no-repeat;display: inline-block;margin-left: 7px;}

/*banner*/
.banner_bar{
	float: right;
	position: relative;
	overflow: hidden;padding-bottom: 15px;
}
.imgBox{position: absolute;top: 0;
	left: 0px; /*如果动则改变left的尺寸*/
}
.imgBox li{float: left;
}
.imgBox img{display: block;
}
.imgNum{position: absolute;left: 0;bottom: 15px;width: 100%;text-align: center;
}
.imgNum a{height: 5px;width: 20px;display:inline-block;overflow: hidden;background-color: #FFF;margin: 0 3px;
}
.imgNum .active{
	background:#FF7700;
}
.banner_big{width: 810px;height: 326px;}
.banner_big .imgBox{width: 2430px;height: 326px;}
.banner_big .imgBox img{width: 810px;height: 326px;}
.banner_sm,.banner_sm img{width: 190px;height: 400px;}
.banner_sm .imgBox{width: 380px;height: 400px;}
/*标题*/
.shopTit{height: 44px;font-family: "Microsoft Yahei";line-height: 44px;margin-bottom:10px;}
.shopTit h3{font-size: 24px;font-weight: bold;padding-left: 15px;float: left;}
.icon{float: left;width: 44px;height: 44px;background:url("../image/icon/shopIcon.png") no-repeat;display: inline-block;}
.more{float: right;font-family: "宋体";}
.more:hover{text-decoration:underline;}

/*商品列表*/
.shopList .leftArea{width: 190px;}
.shopList .rightArea{width: 808px;border:#999 solid 1px;border-bottom: solid 3px #FF7201;height: 396px;overflow: hidden;}
/*商品列表右侧上部分*/
.shop_item{width:202px;border-right: #999 solid 1px;border-bottom: #999 solid 1px;height: 279px;text-align: center;font-family: "Microsoft Yahei";float: left;}
.shop_img{height: 218px;}
.shop_img img{width: 100%;height: 218px;display: block;margin: 0 auto;}
.shop_item h3{font-size: 16px;font-weight: bold;}
.shop_item p{font-size: 14px;color: #FF7300;line-height: 21px;}
.shopList_top,.shopList_sm{margin-right: -4px;}
/*商品列表右侧下部分*/
.shopItem_sm{width:202px;border-right: #999 solid 1px;height: 108px;float: left;padding-top: 8px;}
.shopItem_smImg{width: 95px;height: 95px;text-align: center;float:left;}
.shopItem_smImg img{height: 95px;width: 95px;}
.shopItem_text{padding-top: 28px;width: 100px;float: left;}
.shopItem_text p{color: #FF7200;}
.shopItem_text h3{font-family: "Microsoft Yahei";font-size: 16px;font-weight: normal;line-height: 30px;}

/*底部*/
.footer{text-align: center;background-color: #D4D4D4;line-height: 24px;padding: 20px 0;}
.footer i{font-style: normal;margin:0 5px;}
.footer a{color: #000;}
.footer a:hover{color: #F60;text-decoration:underline;}
.web {padding-top: 30px;}
.footer .web img{margin: 0 12px;}


/*产品详情y页面*/
.hr_25{height: 25px;overflow: hidden;}
.hr_7{height: 7px;overflow: hidden;}
.products .leftArea{width: 189.5px;position: relative;}
#productsLeft{position: absolute;top: 0;width: 189.5px;}
.products .rightArea{width: 810px;}
.products .banner_bar{float: none;}
.products .item{width: 25%;margin-bottom: 10px;*width: 24.5%;}
/*左侧导航*/
.leftNav{background: #F3F3F3;border:#D7D7D7 solid 1px;overflow: hidden;}
.nav_title{height: 34px;line-height: 34px;text-align: center;font-size: 14px;font-weight: bold;border-bottom: #D7D7D7 solid 1px; }
.nav_cont{padding:0 18px 4px;border-bottom: 1px dotted #D7D7D7;}
.nav_cont h3{font-size: 12px;font-weight: bold;height: 30px;line-height: 30px;}
.nav_cont_list{line-height: 25px;}
.nav_cont_list li{float: left;width: 50%;}
.vertical li{width: auto;float: none;padding-left: 8px;}
.vertical .nav_cont, .vertical .nav_title{font-family: "Microsoft Yahei";font-size: 14px;}
/*下方商品列表*/
.products_title{height: 34px;border-bottom: #CCCCCC solid 2px;}
.products_title h3{display: block;width: 180px;border-bottom: #096DBA solid 2px;height: 34px;line-height: 34px;text-indent: 10px;font-weight: bold;font-size: 16px;position: relative;margin-bottom: -2px;}
.item{float: left;height: 285px;}
.img_item{height: 170px;text-align: center;}
.img_item img{width: 170px;}
.item p{line-height: 20px;}
.item a{color: #000}
.item a:hover{text-decoration: underline;}
.money{color: #D4105A;font-weight: bold;padding-top: 10px;}
.stars{width: 13px;height: 12px;display:inline-block;background:url("../image/icon/star.png") left top no-repeat;margin-right: 1px;}
.item .item_cont{ padding: 0 15px; }
.hr_15{height: 15px;overflow: hidden;}

/*筛选页筛选项*/
.screening{border-bottom: #ccc solid 1px;font-weight: bold;}
.screening dt{line-height: 32px;width: 74px;text-align: right;float: left;margin-right: 42px;}
.limit{width: 55px;float: left;line-height: 32px;}
.limit .active{background-color: #1D7AD9;color: #FFF;}
.limit .active:hover{color: red;}
.screening a{padding: 2px;font-weight: normal;}
.screening a:hover{color: red;font-weight: bold;}
.screening_list{line-height: 32px;width: 626px;float: left;}
.screening_list li{float: left;width: 19.5%;}
.screen_more{border:#CCC solid 1px;height: 23px;line-height: 23px;margin-top: 4px;float: left;padding-right:11px;padding-left: 11px;margin-right: 10px;}
.screen_more a{background: url("../image/icon/sj_grey.png") no-repeat right center;padding-right: 9px;}
/*送至。。*/
.addInfo{height: 31px;border: 1px solid #ccc;background-color: #F5F5F5;}
.addInfo .select{margin-top: 3px;}
.address{float: left;}
.address span{float: left;}
.select{z-index: 4;position:relative;border: #999 solid 1px;height: 22px;line-height: 22px;float: left;background-color: #FFF;padding-left: 10px;padding-right: 20px;}
.select h3{font-size: 13px;font-weight: normal;}
.select span{position: absolute;right: 0;top: 0px;height: 100%;width: 20px;display: inline-block;background: url("../image/icon/sj_blue.png") center center no-repeat;}
.select .show_select{display: none; position: absolute;left: -1px;top: 22px;background: #FFF;width: 100%;border: 1px solid #ccc;}
.show_select{padding-left: 10px;}
.screen_text{padding-left: 10px;}
.check input,.check label{line-height: 31px;vertical-align: middle;}
.shop_number em{color: #F00;font-style: normal;font-weight: bold;}
.check{position: relative;top: -1px;}
/*下方商品列表*/
.screening_list_more .item{width: 33.3%}
.addCar{display: inline-block;height: 22px;border: 1px solid #C3D5E7;padding: 0 6px 0 23px;background: url("../image/icon/addCar.png") 6px center no-repeat;}

/*页码*/
.page{width: 978px; height: 26px;margin-bottom: 20px;float: right;border-bottom: 1px solid #D9D9D9;padding-bottom: 15px;}
.page ul{padding-left: 227px;}
.page ul li .show{background-color: #1D7AD9;color: #FFF;font-weight: bold;}
.page ul li{float: left;text-align: center;height: 26px;line-height: 26px;}
.page ul li a{border: 1px #CCC solid;display: block;min-width: 31px;margin-right: 5px;padding: 0 5px;}
.page ul li a:hover{background-color: #1D7AD9;color: #FFF;font-weight: bold;}
.page .pageTxt{display: inline-block;width: 37px;height: 24px;overflow: hidden;line-height: 26px\9;text-align: center;border:#ccc 1px solid;margin: 0 5px;}
.page .pageBtn{display: inline-block;width: 45px;height: 22px;border: 1px #C9C9C9 solid;background-color: #E8E8E8;cursor: pointer;}


/*商品介绍页CSS*/
.grey{background-color: #F0F0F0;}
/*用户位置*/
.userPosition{font-size: 12px;margin-top: 15px;margin-bottom: 15px;}
.userPosition span{margin: 0 -5px;}
.userPosition em{font-style: normal;}
.userPosition a:hover{text-decoration:underline;color: red;font-weight: bold;}
/*商品介绍*/
.description_info{border: 1px solid #CCC;background-color: #FFFFFF;}
.description .leftArea{float: left;width: 309px;}
.description .rightArea{float:left;width: 688px;border-left: 1px solid #CCC; }
/*图片展示*/
.description_img .big{height: 340px;text-align: center;width: 266px;}
.description_img .big img{height: 340px;width: 266px;}
.des_sming{padding-left: 1px;width: 270px;margin: 0 auto;}
.des_sming img{height: 52px;width: 52px;border: #CCC solid 1px;}
.des_sming li{float: left;}
/*右侧展示区*/
.des_content{padding: 0 10px;}
.des_content .dl{margin-bottom: 10px;}
.des_content h3{font-size: 16px;font-weight: bold;line-height: 22px;font-family: "Microsoft Yahei";padding: 13px 25px;}
.des_content .dt{width: 75px;float: left;text-indent: 17px;line-height: 25px;}
.des_content .dd{float: left;color: #666;}
.des_money{font-size: 18px;color: #F30;font-weight: bold;font-family: Verdana;}
.des_money em{font-style: normal;font-size: 12px;}
.hg_icon{width: 55px;height: 18px;display: inline-block;line-height: 18px;background:url("../image/icon/hg_icon.jpg") left center no-repeat;color: #FFF;font-style: normal;text-indent: 16px;margin-right: 10px;}
.hg {padding-top: 4px; display: inline-block;}